<!--The content below is only a placeholder and can be replaced.-->
  <h1>
    Welcome to {{ title }}!
  </h1>
<input type="text" #newTodo />
<button (click)="addTodo(newTodo.value); newTodo.value='';">Add</button>
  <table>
    <tr>
    <th> labale </th>
    <th> priority </th>
    <th>Done</th>
    <th>action</th>
    </tr>
<tr *ngFor="let todo of todos"> 
  
    <td> {{todo.label}}</td >
      <td> {{todo.priority}}</td>
      <td>{{todo.done ? '&#10003;' : '&#10005;'}}</td>
      <td>
        <button (click)="deleteTodo(todo)">delete</button>
      </td>
</tr>


  </table>

