

td { 
	background: lightblue;
	padding: 5px;


 }

 th{

 	background: black;
 	color:white;
 	padding: 5px;
 }

 input {
 	height: 40px;
 	width: 300px;
 }

 button { 

heigh:40px;
width : 50px;
background: red;
color: white;

  }